@font-face {
    font-family: 'ArcadeClassic';
    src: url('ka1.ttf') format('truetype')
}

body {
    /* background-image: linear-gradient(to right, red ,rgb(18, 18, 19), blue); */
    /* text-align: center; */
}

.title {
    font-family: 'ArcadeClassic';
    /* font-family: Verdana, sans-serif; */
    font-size: 16vw;
    margin: 4vw;
    text-align: center;
    text-shadow: -3px 3px white, 3px 3px white, 3px -3px white, -3px -3px white;
}


/* KEEP links black */
a {
    color: black
}


a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:focus {
    text-decoration: none;
    color: black;
}

a:hover,
a:active {
    text-decoration: none;
    color: black
}

/* KEEP links black */

.motto {
    text-align: center;
    font-size: 4vw;
    font-family: Verdana, sans-serif;
    text-shadow: -3px 3px white, 3px 3px white, 3px -3px white, -3px -3px white;
}

.logo {
    text-align: center;
    margin-top: 5vw;
    width: 100%;
    height: auto;
}


.buttons {
    margin-top: 2vw;
    margin-left: 8vw;
}

.play-store {
    background: url(AppStore.png) no-repeat;
    cursor: pointer;
    border: none;
    background-size: 20vw;
    width: 20vw;
    height: 6vw;
    margin-inline-start: 14vw;
}

.apple-store {
    background: url(GooglePlay.png) no-repeat;
    cursor: pointer;
    border: none;
    background-size: 20vw;
    width: 20vw;
    height: 6vw;
}

.border {
    border-style: solid;
    border-color: black;
    border-width: 1vw;
    margin-top: 5vw;
    padding-top: 2vw;
    padding-left: 2vw;
    padding-bottom: 6vw;
}

.footer {
    padding-top: 15vw;
    column-count: 3;
    column-gap: 10vw;
    padding-left: 7vw;
}

.game-icon {
    width: 28vw;
    height: 28vw;
    float: left;
}

.game-title {
    font-size: 7vw;
    margin-left: 34vw;
    font-family: Arial;
}

.game-description {
    font-family: Arial;
    font-size: 5vw;
    margin-left: 34vw;
}
