@font-face {
    font-family: 'ArcadeClassic';
    src: url('ka1.ttf')  format('truetype')
}

.title {
    font-family: 'ArcadeClassic';
    /* font-family: Arial, sans-serif; */
    font-size: 12vw;
    text-align: center;
    margin: 4vw;
}

.playStoreText {
    font-style: normal;
    float: left;
    font-size: 30px;
    text-align: right;
    margin-left: 200px;
    margin-top: 10px;
}

.appleStoreText {
    font-style: normal;
    float: left;
    font-size: 30px;
    text-align: right;
    margin-left: 470px;
    margin-top: 10px;
}
.motto{
    text-align: center;
    font-size: 4vw;
    font-family: Verdana, sans-serif;
}